.main-div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border: 0.1px solid grey;
        border-radius: 10px;
}

.error {
    display: flex;
    justify-content: center;
    color: red;
    font-size: large;
    margin: 10px 10px 10px 10px;
}
.input-field::placeholder{
    color: inherit;
    font-weight: 500;
    opacity: 0.6;
}
.left-main {
    display: flex;
          flex-direction: column;
          align-items: center;
          margin: 10px 10px 10px 10px;
          flex: 1;

}

.left-form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    height: 100%;

}

.inner-form-elements {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px 0 10px 0;

}

.title {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.input-element {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: flex-start;
    height: 50px;
}

.input-field {
    width: 100%;
    height: 90px;
    border-radius: 5px;
    background-color: transparent;
    color: inherit;
    border: 0.1px solid grey;
    padding: 10px;

}

.input-field.highlight {
    border: 1px solid red;
}

.submit-button-div {
    display: flex;
    justify-content: center;
    margin: 10px 10px 10px 10px;
}

.submit-button {
    height: 30px;
    padding: 20px;
    border-radius: 10px;
    background-color: orange;
    justify-content: center;
    align-items: center;
    display: flex;
}
select{
    backdrop-filter:blur(60px); 
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    color: inherit;
    border: 0.1px solid grey;
    padding: 10px;
}

option {
    color: black;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(60px);
    border: 0.1px solid grey;
    padding: 10px;
    border-radius: 10px;
}

















                /* {/* <select
                  value={value("caseCategory")}
                  className="input-field"
                  onChange={(e) => caseTypeOnChange("caseCategory", e.target.value)}
                >
                  {value("caseCategory") === "" && <option value="none">Select Case Category</option>}
                  {Object.keys(casee).map((option, index) => (
                    <option key={index} value={option}>
                      {option}
                    </option>
                  ))}
                </select> */ 




/* 
                                {/* Case SubCategory
                <Typography variant="h5" style={{ fontWeight: "500" }}>Case SubCategory</Typography>
              </div>
              <div className="input-element">
                <select
                  className="input-field"
                  value={value("caseSubCategory")}
                  onChange={(e) => onChange("caseSubCategory", e.target.value)}
                >
                  {!option && <option value="none">Select Case SubCategory</option>}
                  {option && ["None", ...casee[option]].map((option, index) => (
                    <option key={index} value={option}>
                      {option}
                    </option>
                  ))}
                </select> */