.set-password-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.945);
}



.set-password-main-primary {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: fit-content;
    border-radius: 10px;
    justify-content: center;
    border: 0.1px solid white;
    backdrop-filter: blur(60px);
    align-items: center;
    padding: 10px;
}

.set-password-main-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    justify-content: center;
    backdrop-filter: blur(60px);
    align-items: center;
    padding: 10px;
    
}
.set-password-main-input::placeholder {
    color: white;
    font-weight: 500;
    opacity: 0.6;
}

.set-password-input {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 0.1px solid rgba(128, 128, 128, 0.361);
    border-radius: 5px;
    background-color: transparent;
    color: white;
}

.set-password-input::placeholder {
    color: white;
  }
  
.set-password-btn {

    padding: 10px;
    background: orange;
    border: 0.1px solid rgba(128, 128, 128, 0.271);
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    align-self: center;
    display: flex;
    color: black;
    margin-top: 20px;
}