.main-doc {
    display: flex;
    border : 0.1px solid grey;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.upload-div {
    display: flex;
    margin: 30px 10px 10px 10px;
    align-items: center;
    width: 50%;
    padding: 10px;
}

.doc-title {
    display: flex;
    flex: 1;
}
.doc-input {
    display: flex;
    flex: 1;
}

.docs-title {
    height: 40px;
    background: transparent;
    border: 0.1px solid grey;
    border-radius: 10px;
    padding: 10px;
    margin-right: 30px;
}

.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: orange; /* Green */
    border: none;
    border-radius: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
}

.custom-file-upload:hover {
    background-color: rgb(255, 202, 103);
}

.upload {
    display: flex;
    margin: 10px 10px 10px 10px;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: orange;
}