.modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -50%);
    width: 75%;
    height: fit-content;
    backdrop-filter: blur(70px);
    border: 1px solid grey;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center; 

}
.fade-enter {
    opacity: 0;
  }
  .fade-enter-active {
    opacity: 1;
    transition: opacity 200ms;
  }
  .fade-exit {
    opacity: 1;
  }
  .fade-exit-active {
    opacity: 0;
    transition: opacity 200ms;
  }

.select-details {
    display:flex;
    flex-direction: row;
}

.select-btn {
    display: flex;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color:black;
    font-size: 15px;
    font-weight: 500;
    background: orange;
}

.details-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.docu-details {
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 100%;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid grey;
}

.doc-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 10px;
}

.doc-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding:10px;
}