.notification-main {
    display: flex;
    bottom: 10%;
    right: 4%;
    position: fixed;
    border: 0.1px solid grey;
    flex-direction: column;
    padding: 30px;
    backdrop-filter: blur(150px);
    border-radius: 15px;
    box-shadow: 3px 3px 10px rgba(128, 128, 128, 0.292),inset -3px -3px 10px rgba(128, 128, 128, 0.292);
    max-height: 70%;
    width: 20%;
    overflow: auto;
    border-bottom-right-radius: 0px;

}

.notification-header {
    display: flex;
    justify-content: center;
}

.notification-body {

    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}