.modal-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px 10px 10px;
}

.modal-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px 10px 10px 10px;
}

.confirm-button {
    background-color: rgb(61, 61, 61);
    padding: 8px;
    border-radius: 10px;
    border: none;
    font-size: 100;
}